@media (min-width: 640px) {
  #menu-btn {
    display: none;
  }

  nav {
    display: block;
    width: auto;
  }

  nav ul {
    display: flex;
    margin: 0;
  }

  nav li a {
    padding: 0.5rem 1rem;
  }

  footer {
    display: flex;
    justify-content: space-around;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .spotlights-container {
    grid-column: span 2;
  }

  .spotlight-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }
}